/* Reset some basic styling */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #edf2f8; /* Adjust the background color as needed */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    width: 70%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-content {
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.highlight {
    color: #00bfff; /* Adjust to your desired color */
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.social-buttons .btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
}

.linkedin {
    background-color: #0077b5;
}

.github {
    background-color: #333;
}

.gmail {
    background-color: #d93025;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.contact-form textarea {
    resize: vertical;
    height: 100px;
}

.send-btn {
    padding: 10px 20px;
    background-color: #00bfff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    width: 105%
}

.send-btn:hover {
    background-color: #008cba;
}

/* .contact-image{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact-image img {
    max-width: 100%;
    height: auto;
} */

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    .send-btn {
        font-size: 1rem;
    }
}
